*{
  font-family: 'Roboto', sans-serif;;
}
h1{
  font-weight:150;
  color:#FFF;
  font-size:2.2rem;
  border-bottom:solid 2px #ebb802;
}
p{
  color:#FFF;
  font-weight:200;
  line-height:150%;
}

h2 {
  color: #FFF;
  font-weight: 150;
  font-size: 2rem;
}

//a:link, a:visited {color:blue; background-color:pink;}
//a:hover, a:focus {color:red; background-color:white;}
